/target
**/target/
**/*.rs.bk
*.pdb
*.swp
*.swo
.env
.DS_Store
.idea/
.vscode/
.dotnet-home/
.nuget-packages/
**/bin/
**/obj/

# Binaries
#*.dll
*.exe
*.zip
wintun_temp/
state/
omega-client/state/
omega-client-app/artifacts/
omega-client-app/omega-client/state/
omega-android/.gradle/
omega-android/**/build/
omega-android/local.properties
relese_plan/
wfp_filters.xml
